<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div>
            <!-- Navigation -->
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">LINAJE@*<img src="/Content/vendor/img/logo-crbikes-1.png" alt="crBikes.com">*@</a>
                </div>
                <div class="collapse navbar-collapse">
            
                    <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">HOME</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">WORKS</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BLOG</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONTACTS</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">FEATURES <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        <li><a href="/">FEATURE 1></li>
                        <li><a href="/Home/About">FEATURE 2</a></li>
                        <li><a href="/Home/Contact">FEATURE 3</a></li>
                        </ul>
                    </li>
                    </ul>
            
                </div><!--/.nav-collapse -->
                </div>
            </div> <!-- / .navigation -->
        </div>
        <div class="container" style="margin-top:50px">
            @RenderBody()
        </div>


        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
